body { background-color: white;}

footer { background-color: black;}

h1 { color: brown;
text-align: center;}

main { margin-left: 33%;
   }

h3 { color: rgb(255, 255, 255);}

header { background-color: black;}

ul { color: white;}

p { background-color: brown; 
color: beige;}




